* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #0d6efd;
}

.nav a {
    font-size: 18px;
    border-radius: 0;
    padding: 1em;
    border-right: 1px solid #0b5ed7;
    font-weight: 700;
}

.container {
    padding: 0 16px;
}

.Products-List__title {
    text-align: center;
    margin: 20px;
    font-weight: 700;
    font-size: 30px;
}

.Products-List__table {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, .4);
    border-left: 1px solid rgba(0, 0, 0, .4);
    border-spacing: 0;
}

ul {
    list-style: none;
    font-size: 20px;
}

ul li {
    margin: 6px;
}

.Products-List__table td,
.Products-List__table th {
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    border-right: 1px solid rgba(0, 0, 0, .4);
}

.Products-List__table th {
    background-color: #ccc;
    font-weight: 700;
}

.Products-List__table tr {
    transition: background .1s linear;
    cursor: pointer;
}

.Products-List__table tr:hover {
    background-color: #ccc;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

input,
button {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #0d6efd;
    background-color: #fff;
}